
/* ++++++++++++++++ */
/*      FONTS       */
/* ++++++++++++++++ */
@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Open+Sans&display=swap');


/* ++++++++++++++++ */
/*    VARIABLES     */
/* ++++++++++++++++ */
:root {
  /*FONTS*/
  --main-font: 'Open Sans';
  --accent-font: 'Monda';
  /*COLOR*/
  --woodsmoke: #0B0C10;
  --dark-gray: #1F2833;
  --gray: #25303d;
  --lighter-gray: #36485e;
  --light-gray: #C5C6C7;
  --cyan: #66FCF1;
  --breakerbay: #45A29E;
}

/* +++++++++++++++ */
/*     GENERAL     */
/* +++++++++++++++ */
body {
  font-family: var(--main-font);
  color: var(--woodsmoke);
  margin: 0 auto;
}
h1 {
  font-family: var(--accent-font);
  margin: 0;
}
ul, li {
  list-style: none;
  padding-left: 0;
}
button {
  font-family: var(--accent-font);
}
button:hover {
  cursor: pointer;
}
/* ++++++++++++++ */
/*     HEADER     */
/* ++++++++++++++ */
header {
  position: sticky;
  top: 0;
  background: var(--woodsmoke);
  background-image: url('https://images.unsplash.com/photo-1519933045055-2e2d61a64bcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=10');
  background-position: center;
  background-size: cover;
  margin: 0;
  height: 190px;
  color: var(--cyan);
  font-size: 2em;
}
header > h1 {
  margin: 0 0 5px 20px;
  cursor: pointer;
}
/* .search {
  margin-right: 20px;
  float: right;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
} */
.header-btn {
  width: 15%;
  margin: 0 28px 0 0;
  float: right;
  line-height: 0;
}
.mainpg-btn, .addGuide-btn {
  border: 1px solid var(--cyan);
  background: var(--dark-gray);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: white;
}
.mainpg-btn {
  margin-bottom: 5px;
}
.mainpg-btn:hover, .addGuide-btn:hover {
  color: var(--woodsmoke);
  background: var(--cyan);
}

/* +++++++++++++++ */
/*      ASIDE      */
/* +++++++++++++++ */
.content-wrap{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
aside {
  position: fixed;
  right: 0;
  /* height: 100%; */
  z-index: 1;
  font-family: var(--accent-font);
  width: 20%;
  text-align: left;
  margin: 0;
  background: var(--dark-gray);
  background-image: linear-gradient(var(--woodsmoke) 40%, var(--lighter-gray));
}
.favorites {
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin: 30px 10px;
  padding: 50px, 0;
  border-radius: 3px;
  color: white;
}
.favorites li {
  margin-bottom: 20px;
}
.favorites li:hover {
  color: var(--cyan);
}

/* ++++++++++++++ */
/*      MAIN      */
/* ++++++++++++++ */
main {
  width: 76%;
  margin: 10px 20px 0 20px;
  padding-bottom: 50px;
}

/* ++++++++++++++ */
/*      POST      */
/* ++++++++++++++ */
.post-article {
  width: 100%;
  height: 300px;
  /* background-color: var(--woodsmoke); */
  /* color: white; */
  text-align: justify;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 5px;
  padding: 30px;
}
h4 > span {
  color: var(--breakerbay);
}
.post-article:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.guide-buttons {
  width: 50%;
  float: right;
}
.guide-buttons ul {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.guide-buttons li {
  width: 100%;
  cursor: pointer;
  font-size: 0.7em;
  text-align: center;
  padding: 8px 0;
  background-color: var(--gray);
  color: white;
  border-radius: 5px;
}
.edit-btn, .fav-btn {
  margin-right: 5px;
}
.guide-buttons li:hover, form input[type=submit]:hover {
  color: var(--woodsmoke);
  background-color: var(--cyan);
}
.guide-image {
  width: 80%;
  height: 200px;
  overflow: hidden;
}
.guide-image img {
  margin-top: -150px;
  width: 100%;
}
.guide-contents-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.text-wrap {
  width: 30%;
  padding-right: 14px;
}
.guide-title {
  text-align: left;
  font-weight: 700;
  color: white;
  background: var(--dark-gray);
  padding: 10px;
  line-height: 1.8em;
  border-radius: 5px;
}
.guide-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ++++++++++++++ */
/*      SHOW      */
/* ++++++++++++++ */
.show-article {
  width: 60%;
  text-align: justify;
  margin: 0 auto;
  margin-top: 20px;
}
.show-guide-image img {
  width: 100%;
  border-radius: 5px;
}
h3 > span {
  color: var(--breakerbay);
}

/* ++++++++++++++ */
/*      FORM      */
/* ++++++++++++++ */

/* RICH TEXT EDITOR */
/* Source: https://codepen.io/alexkrolick/pen/yvRgab?editors=0110 */
.ql-editor{
  min-height: 18em;
}

.ql-toolbar{
  margin-top: 1em;
  display: block;
  background: #ccc;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

}
form input[type=submit] {
  margin-top: 10px;
  width: 35%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--woodsmoke);
  color: white;
  border: 0;
  font-size: 1em;
  text-transform: uppercase;
  float: right;
}
.form input {
  width: 92%;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}
form label {
  font-family: var(--accent-font);
}
.form-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form-input-container div{
  width: 40%;
}
#tags {
  width: 50%;
}
textarea {
  resize: none;
  font-size: 0.9em;
  border-radius: 5px;
  line-height: 23px;
  overflow: scroll;
}
.form {
  width: 90%;
  margin: 0 auto;
}

/* ++++++++++++++++ */
/*      FOOTER      */
/* ++++++++++++++++ */
/* .wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */
footer {
  text-align: center;
  font-size: 12px;
  bottom:0;
  left:0;
  width:100%;
  height: 100px;
  color: white;
}
.footer-names {
  background: var(--gray);
  padding: 20px 0;
}
.copy {
  background: var(--lighter-gray);
  height: 40px;
  padding-top: 20px;
}



/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .header-btn {
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 50px;
    margin: 20px 15px 0 0;
    float: right;
    line-height: 0;
  }
  .guide-image {
    width: 100%;
    height: 185px;
    overflow: hidden;
  }
  .guide-image img {
    margin-top: 0px;
    width: 100%;
  }
  .post-article {
    width: 100%;
    height: 350px;
    text-align: left;
  }
  .show-article {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 20px;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    height: 180px
  }
  header > h1 {
    font-size: 1em;
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 60px;
  }
  .header-btn {
    width: 90%;
    float:none;
    margin: 0 auto;
    line-height: 0;
  }
  main {
    margin: 0 auto;
  }
  main > h1 {
    line-height: 1em;
    margin-top: 40px;
  }
  .mainpg-btn, .addGuide-btn {
    border: 1px solid var(--cyan);
    background: var(--dark-gray);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    color: white;
  }
  .mainpg-btn {
    margin-bottom: 10px;
  }
  aside {
    font-family: var(--accent-font);
    color: white;
    width: 38%;
    float: right;
    position: relative;
    height: 30px;
    display: inline-block;
    position: fixed;
    text-align: center;
    margin: 0;
    background: var(--lighter-gray);
  }
  .favorites {
    background: var(--dark-gray);
    margin: 0;
    padding-top: 10px;
    width: 100%;
  }
  .favorites li {
    font-size: 0.8em;
    display: block;
    background: var(--dark-gray);
  }
  .favorites li:hover {
    cursor: pointer;
  }
  .favorites {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display:none;
    transition: all 0.5s ease;
  }
  aside:hover > .favorites, .favorite li:hover {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  .guide-contents-wrap {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .text-wrap {
    width: 100%;
    font-size: 0.8em;
  }
  .post-article {
    height: 350px;
    margin: 5px 5px;
    padding: 0;
  }
  .guide-title {
    border-radius: 0;
  }
  .guide-user > h4 {
    margin: 10px 0 0 5px;
  }
  .guide-tags > ul {
    margin: 0 0 10px 5px;
  }
  .guide-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  .guide-image img {
    margin-top: 0px;
    width: 100%;
  }
  .guide-buttons {
    width: 100%;
    float: none;
  }
  .guide-buttons li {
    font-size: 0.8em;
    padding: 3px 0;
    border-radius: 0;
  }
  .edit-btn, .fav-btn {
    margin-right: 3px;
  }
  footer {
    text-align: center;
    font-size: 10px;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    color: white;
  }
  .footer-names {
    background: var(--gray);
    padding: 10px 0;
  }
  .copy {
    background: var(--lighter-gray);
    height: 20px;
    padding: 5px 0;
  }
  form input[type=submit] {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--woodsmoke);
    color: white;
    border: 0;
    font-size: 1em;
    text-transform: uppercase;
    float: right;
  }
  .form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
  }
  form label {
    font-family: var(--accent-font);
  }
  .form-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form-input-container div{
    width: 90%;
  }
  #tags {
    width: 90%;
  }
  textarea {
    width: 98%;
  }
  .form {
    width: 90%;
    margin: 0 auto;
  }
  .show-article {
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
  }
  .show-guide-image img {
    width: 100%;
    border-radius: 5px;
  }
  h3 > span {
    color: var(--breakerbay);
  }

}


@media (min-width: 320px) and (max-width: 480px) {

  header {
    height: 180px
  }
  header > h1 {
    font-size: 1em;
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 60px;
  }
  .header-btn {
    width: 90%;
    float:none;
    margin: 0 auto;
    line-height: 0;
  }
  main {
    margin: 0 auto;
  }
  main > h1 {
    line-height: 1em;
    margin-top: 20px;
  }
  .mainpg-btn, .addGuide-btn {
    border: 1px solid var(--cyan);
    background: var(--dark-gray);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    color: white;
  }
  .mainpg-btn {
    margin-bottom: 10px;
  }
  aside {
    width: 50%;
    float: none;
    position: relative;
    height: 50px;
    display: inline-block;
    position: fixed;
    font-family: var(--accent-font);
    text-align: left;
    margin: 0;
    background: var(--dark-gray);
    background-image: linear-gradient(var(--woodsmoke) 40%, var(--lighter-gray));
  }
  .favorites {
    background: var(--dark-gray);
  }
  .favorites li {
    display: block;
    background: var(--dark-gray);
  }
  .favorites li:hover {
    cursor: pointer;
  }
  .favorites {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display:none;
    transition: all 0.5s ease;
  }
  aside:hover > .favorites, .favorite li:hover {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  .guide-contents-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text-wrap {
    width: 100%;
    font-size: 0.8em;
  }
  .post-article {
    height: 260px;
    margin: 5px 5px;
    padding: 0;
  }
  .guide-title {
    border-radius: 0;
  }
  .guide-user > h4 {
    margin: 10px 0 0 5px;
  }
  .guide-tags > ul {
    margin: 0 0 10px 5px;
  }
  .guide-image {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  .guide-image img {
    margin-top: 0px;
    width: 100%;
  }
  .guide-buttons {
    width: 100%;
    float: none;
  }
  .guide-buttons li {
    font-size: 0.5em;
    padding: 3px 0;
    border-radius: 0;
  }
  .edit-btn, .fav-btn {
    margin-right: 3px;
  }
  footer {
    text-align: center;
    font-size: 10px;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    color: white;
  }
  .footer-names {
    background: var(--gray);
    padding: 10px 0;
  }
  .copy {
    background: var(--lighter-gray);
    height: 20px;
    padding: 5px 0;
  }
  form input[type=submit] {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--woodsmoke);
    color: white;
    border: 0;
    font-size: 1em;
    text-transform: uppercase;
    float: right;
  }
  .form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
  }
  form label {
    font-family: var(--accent-font);
  }
  .form-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form-input-container div{
    width: 90%;
  }
  #tags {
    width: 90%;
  }
  textarea {
    width: 98%;
  }
  .form {
    width: 90%;
    margin: 0 auto;
  }
  .show-article {
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
  }
  .show-guide-image img {
    width: 100%;
    border-radius: 5px;
  }
  h3 > span {
    color: var(--breakerbay);
  }

}
